$lgreen: #37afa2;
$dgren: #034d5b;
$bgColor: #F8F8F8;
$font: #434343;
$fontGrey: #B3B3B3;

.clear {clear: both;}

.mypage {
    background-color: #f3f3f3;
    height: 600px;
    
}


.account-profile {
    background-color: #034d5b;
    height: 540px;
    padding-left: 120px;
    padding-right: 120px;
    color: white;

    .profpic {
        padding: 1%;
        margin-right: 3%;
    }

    .profpic img {
        width: 135px;
        height: auto;
    }

    .usrinfo1{
        padding-top: 80px;
        display: inline-flex;
    }


    .usrinfo {
        padding: 1% 1% 1% 2%;
        width: 80%;

    }

    h1 {   
        font-weight: 700;
        font-size: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

//    p.usr2 {
//        padding-top: 2px;
//    }

    p.usr3 {
        font-size: .9em;
    font-weight: 100;
    padding-top: 20px;
    line-height: 1.5em;
    }

    .usrinfo2{
        padding-top: 45px;

//        ul {
//            margin: 1%;
//        }
//
//        li {
//            color: #b4dfd6;
//            display: inline-block;
//        }
//
//        ul.item li {
//            padding: 0.5% 7% 0.5% 0.5%;
//            display: inline-block;
//        }
//
//        .numbers{
//            font-size: 6.3em;
//            font-weight: 700;
//            padding-top: 30px;
//        }
//
//        ul.numbers li {
//            display: inline-block;
//            padding: 0.5% 6% 0.5% 0%;
//        }
//
//        .item {
//            font-size: 1.9em;
//            font-weight: 600;
//            padding-top: 35px;
//            li:nth-child(2){
//                padding-left: 4.5%; padding-right: 7.3%;
//            }
//            li:nth-child(3){
//                padding-right: 4.5%;
//            }
//        }

        

        .buttons {
            display: inline-block;
            float: right;
            width: 30%;
            margin: 1%;
        }

        .button {
            display: inline-block;
            border: 2px solid #e64142;
            color: #e64142;
            width: 100%;
            margin-top: 2%;
            margin-bottom: 2%;
            height: 55px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

        .button p {
            padding-top: 16px;
            font-size: 18px;
            display: inline-block;
            padding-right: 7px;
        }
    }
}
.subinfo {
            display: inline-block;
            width: 68%;
            color: #b4dfd6;
            margin-top: 1%;
            margin-bottom: 1%;
            p {
                font-size: 110px;
                font-weight: 800;
                padding-top: 30px;
                line-height: inherit;
            }

            h2 {
                font-size: 30px;
                font-weight: 600;
                padding-top: 50px;
            }
            div {
                text-align: center;
                display: inline-block;
                padding-right: 6%;
                width: 18%;
                margin-top: 1%;
            }
        }

#follow.active {
    
    background-color: #e64142;
    color: white;
    
}

#invite.active {
    
    background-color: #e64142;
    color: white;
    
}

/***************/

.mywork {
    background-color: #f2f2f2;
}
.mywork, .mygroup {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 70px;
    padding-bottom: 80px;
}

.wrk_ctgry {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    ul {
            margin: 1%;
        }

        li {
            color: #b4dfd6;
            display: inline-block;
        }
}

.wrk_ctgry li {
    padding-left: 10px;
    padding-right: 10px;
}

.myprojects .upload, .mygroups .upload {
    width: 30%;
    height: 200px;
    margin: 1%;
    display: block;
    float: left;
    background-color: #e64142;
    text-align: center;
    color: #ffffff;
    i {
        font-size: 32px;
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s linear;
    }
}
.myprojects .upload:hover i, .mygroups .upload:hover i {
    font-size: 46px;
    
}

.myprojects div.project, .mygroups div.group {
    width: 30%;
    height: 200px;
    margin: 1%;
    display: block;
    float: left;
    background-color: #b3b3b3;
    cursor: pointer;
}

.myprojects div:last-of-type {
    float: none;
}

.mywork h1 {
    color: #37afa2;
    text-align: center;
}

.mygroup {
    background-color: #b4dfd6;
}
.mygroup h1 {
    color: #034d5b;
    text-align: center;
}
.mygroups {
    padding-top: 40px;
}

@media screen and (min-width : 1024px) and (max-width: 1224px) {
    .account-profile {
        .subinfo h2 {
            font-size: 24px;
            padding-top: 30px;
        }

        .subinfo p {
            font-size: 80px;
        }
    }
}


@media screen and (min-width : 768px) and (max-width: 1024px) {

    .account-profile {
        height: 450px;
        padding-left: 110px;
        padding-right: 110px;
        
        .subinfo {
            display: block;
            width: 64%;
            float: left;
        }

        .usrinfo2 .buttons {
            display: inline-flex;
            margin: 1%;
            width: 38%;
        }
        #follow.button {
            margin-right: 12px;
        }

        .subinfo {
            width: 58%;
            margin-right: 1%;
        }
        
        .subinfo h2 {
            font-size: 16px;
            padding-top: 10px;
        }

        .subinfo p {
            font-size: 50px;
            padding-top: 10px;
        }

        p.usr3 {
            font-size: .8em;
            font-weight: 100;
        }
        .button p {
            padding-right: 2px;
        }
    }
    .myprojects div.project, .myprojects div.upload, .mygroups div.group, .mygroups div.upload {
        width: 47.62763%;
        height: 250px;
    }
    .mywork, .mygroup {
        padding-left: 110px;
        padding-right: 110px;
        padding-top: 70px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width : 320px) and (max-width: 785px) {
    .account-profile {
        height: 540px;
        padding-left: 70px;
        padding-right: 70px;
        
        .usrinfo1 {
            padding-top: 60px;
            display: block;
            text-align: center;
        }   
        .usrinfo {
            padding: 1% 0% 1% 0%;
            width: 100%;
        }
        .profpic {
            padding: 1% 0 1% 0;
            margin: 0;
        }
        .mywork h1, .mygroup h1 {
            font-size: 18px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
        p.usr2 {
            font-size: 12px;
        }

        .profpic img {
            width: 70px;
        }

        .subinfo div {
            padding-right: 2%;
            padding-left: 2%;
            width: 19.5%;
            margin-top: 1%;
        }

        .usrinfo2{
            padding-top: 25px;
    
            .subinfo {
                display: block;
                width: 100%;
                float: left;
            }
            .buttons {
                display: inline-flex;
                margin: 1%;
                width: 100%;
                float: none;
                padding-top: 28px;
            }
            .button {
                height: 40px;
                p {
                    padding-top: 9px;
                    font-size: 14px;
                    padding-right: 2px;
                }
            }

            #follow.button {
                margin-right: 15px;
            }

            .subinfo h2 {
                font-size: 13px;
                padding-top: 5px;
            }

            .subinfo p {
                font-size: 36px;
                padding-top: 10px;
            }

            p.usr3 {
                font-size: .7em;
                font-weight: 100;
            }
        }
    }
    
    .myprojects div.project, .mygroups div.group, .myprojects div.upload, .mygroups div.upload {
        width: 100%;
        height: 300px;
        margin-top: 5px;
        
    }
    
    .mywork, .mygroup {
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .wrk_ctgry {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        font-size: 13px;
        font-weight: 600;
    }
    
    li {
        padding-right: 4.5px;
        padding-left: 4.5px;
    }
    
}


// new work
.newwork {
    position: fixed;
    top:0;
    left:0;
    background: rgba(1,1,1,0.5);
    width: 100vw;
    height: 100vh;
}

.newwork .addDesignModal{
    width: 600px;
    background: $bgColor;
    margin: 160px auto;
}

.form-row {
    color: $fontGrey;
    margin: 20px 0 35px 0;
    input {
        padding: 5px 0;
        width: 100%;
    }
    input[type=text] {
        border: none;
        background: inherit;
        border-bottom: 1px solid #b3b3b3;
    }
    #design-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    #design-file + label {
        height: 100px;
        width: calc(100% - 2px);
        font-size: 16px;
        font-weight: 400;
        color: $fontGrey;
        display: inline-block;
        border: 1px dashed $fontGrey;
        text-align: center;
        line-height: 96px;
    }

    #design-file:focus + label,
    #design-file + label:hover {
        color: $font;
    }
}
.form-label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}