$fontGrey: #B3B3B3;

.design-detail {
    .design-intro {
        width: 100%;
        height: 500px;
        background: #ffffff;
        margin-bottom: -50px;
    }
    .col-md-8 {
        width: 64%;
        margin: 0 1%;
        float: left;
    }
    .col-md-4 {
        width: 31%;
        margin: 0 1%;
        float: left;
    }
    .design-intro-section {
        background: pink;
    }
    .design-intro-section:nth-of-type(2) {
        background: lightgreen;
        border-left: 1px solid $fontGrey;
    }
    .design-work {
        height: 1000px;
        .design-work-img {
            width: 100%;
        }
    }
    .comments-container {
        height: 1000px;
    }
    
}
