$dgreen: #034d5b;
$fontGrey: #B3B3B3;

.design-detail {
    .design-intro {
        width: 100%;
        height: 450px;
        background: #ffffff;
        margin-bottom: -120px;
    }
    .col-md-8 {
        width: 64%;
        margin: 0 1%;
        float: left;
    }
    .col-md-4 {
        width: 31%;
        margin: 0 1%;
        float: left;
    }
    .design-intro-section {
//        background: pink;
        margin-top: 50px;
        .design-description {
            margin: 30px 0;
        }
        .avatar img{
            width: 80px;
            height: 80px;
        }
        box-sizing: border-box;
        height: 160px;
    }
    .design-intro-section:nth-of-type(2) {
//        background: lightgreen;
        border-left: 1px solid $fontGrey;
        padding-left: 80px;
        .follow {
            width: 250px;
            margin-top: 15px;
            color: $dgreen;
            border-color: $dgreen;
        }
    }
    .design-work {
        height: 1000px;
        .design-work-img {
            width: 100%;
        }
    }
    .comments-container {
        height: 1000px;
    }
    
}
