.header {
    .active {
        font-weight: 600;
    }
}
header.navbar {
    background: #37afa2;
    height: 70px;
    
    .logo {
        display: inline-block;
        padding: 16px 14px 0px 22px;
    }

    .logo img {
        height: 40px;
    }

    .mypg {
        float: right;
        display: -webkit-inline-box;
        padding: 17px 22px 0px 40px;
    }

    .mypg a {
        text-decoration: none;
    }

    .mypg .username {
        display: inline-block;
        color: white;
        padding-top: 10px;
        padding-right: 20px;
    }

    .mypg img {
        height: 36px;
    }
}

@media screen and (min-width : 320px) and (max-width: 785px) {
    header.navbar {
        height: 40px;
    
        .logo img {
            height: 25px;
        }

        .logo {
            padding: 9px 14px 0px 13px;
        }

        .mypg {
            padding: 10px 14px 0px 40px;
        }

        .mypg img {
            height: 20px;
        }

        .mypg .username {
            padding-top: 0;
            padding-right: 10px;
            font-size: 12px;
        }
    }
}