$lgreen: #37afa2;
$dgreen: #034d5b;
$bgColor: #F8F8F8;
$font: #434343;
$fontGrey: #B3B3B3;

body {
    font-family: "proxima-nova", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    width: 100%;
    color: #434343;
    background: $bgColor;
}

.show {
    display: block;
}

.hide {
    display: none;
}

//.dark-text {
//    color: #434343;
//}
.light-text {
    color: #ffffff;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    padding: 5px 0;
}
h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 4px 0;
}
h3 {
    font-size: 20px;
    font-weight: 500;
}
h4 {
    font-size: 18px;
    font-weight: 500;
}
p {
    line-height: 1.4em;
}
.sub-text {
    font-size: 12px;
    font-weight: 400;
    color: $fontGrey;
}

.page-container {
    margin: 0 8%;
    overflow: hidden;
}
@media screen and (max-width: 799px) {
    .page-container {
        margin: 0 20px;
    }
}

.fa{
    font-size: 12px;
}

// general
header.title {
    height: 50px;
    padding-left: 50px;
    vertical-align: middle;
    background: $lgreen;
    h3 {
        line-height: 50px;
        color: #ffffff;
    }
}
.btn-bar {
    width: 100%;
    height: 50px;
    .btn-1 {
        width: 100%;
        height: 100%;
    }
    .btn-2 {
        width: 50%;
        height: 100%;
    }
}
.content-container {
    margin: 0 35px;
    overflow: hidden;
}
.btn {
//    border: 1.5px solid $lgreen;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}
.btn-lg {
    height: 60px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    border: 1.5px solid $lgreen;
}
.btn-sm {
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid $lgreen;
}
.btn-active{
    background: $lgreen;
    color: #ffffff;
}
.btn-default{
    background: #ffffff;
    color: $lgreen;
}

.col-md-4 {
    width: 31%;
    margin: 1%;
    display: block;
}

// avatar
.avatar {
    overflow: hidden;
    .profpic {
        float: left;
    }
    h2 {
        margin-top: 15px;
        position: absolute;
        margin-left: 100px;
    }
    p {
        margin-top: 42px;
        position: absolute;
        margin-left: 100px;
    }
}



