.newwork {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(1, 1, 1, 0.5);
  width: 100vw;
  height: 100vh; }

.newwork .addDesignModal {
  width: 600px;
  background: #F8F8F8;
  margin: 200px auto; }

.design-detail .design-intro {
  width: 100%;
  height: 450px;
  background: #ffffff;
  margin-bottom: -120px; }

.design-detail .col-md-8 {
  width: 64%;
  margin: 0 1%;
  float: left; }

.design-detail .col-md-4 {
  width: 31%;
  margin: 0 1%;
  float: left; }

.design-detail .design-intro-section {
  margin-top: 50px;
  box-sizing: border-box;
  height: 160px; }
  .design-detail .design-intro-section .design-description {
    margin: 30px 0; }
  .design-detail .design-intro-section .avatar img {
    width: 80px;
    height: 80px; }

.design-detail .design-intro-section:nth-of-type(2) {
  border-left: 1px solid #B3B3B3;
  padding-left: 80px; }
  .design-detail .design-intro-section:nth-of-type(2) .follow {
    width: 250px;
    margin-top: 15px;
    color: #034d5b;
    border-color: #034d5b; }

.design-detail .design-work {
  height: 1000px; }
  .design-detail .design-work .design-work-img {
    width: 100%; }

.design-detail .comments-container {
  height: 1000px; }

.header .active {
  font-weight: 600; }

header.navbar {
  background: #37afa2;
  height: 70px; }
  header.navbar .logo {
    display: inline-block;
    padding: 16px 14px 0px 22px; }
  header.navbar .logo img {
    height: 40px; }
  header.navbar .mypg {
    float: right;
    display: -webkit-inline-box;
    padding: 17px 22px 0px 40px; }
  header.navbar .mypg a {
    text-decoration: none; }
  header.navbar .mypg .username {
    display: inline-block;
    color: white;
    padding-top: 10px;
    padding-right: 20px; }
  header.navbar .mypg img {
    height: 36px; }

.popular-designs {
  margin-top: 50px;
  padding: 0 calc(42% - 445px); }

.search {
  width: 100%; }
  .search form {
    width: 60%;
    height: 50px;
    margin-top: 60px;
    display: block;
    border-bottom: 1px solid #d3d3d3; }
  .search input[type=text] {
    float: left;
    width: 80%;
    height: 40px;
    border: 0px;
    background-color: #F8F8F8;
    color: #d3d3d3;
    font-size: 20px;
    font-weight: 300; }
  .search input[type=image] {
    float: right;
    padding: 15px; }

.home-thumbnail {
  overflow: hidden;
  width: 320px;
  height: 270px;
  margin: 1%;
  display: inline-block;
  box-shadow: 0px 1px 15px -1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s linear; }
  .home-thumbnail .info {
    height: 40px;
    width: 92%;
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px 4%; }
    .home-thumbnail .info .profile {
      width: 40px;
      height: 40px;
      background-image: url(./img/profile1.jpg);
      background-size: cover;
      background-position: center;
      display: block;
      border-radius: 40px;
      float: left; }
    .home-thumbnail .info .username {
      float: left;
      padding: 10px; }
  .home-thumbnail .viewdata {
    font-size: 12px;
    float: right;
    padding: 3%;
    color: #b3b3b3; }
  .home-thumbnail .description {
    height: 170px;
    z-index: 900;
    background: rgba(3, 77, 91, 0.85);
    position: absolute;
    width: 280px;
    padding: 20px;
    display: block;
    opacity: 0;
    transition: opacity 0.6s ease-in;
    cursor: pointer; }
  .home-thumbnail .description_title {
    transform: translateY(200px);
    color: white;
    transition: transform 0.3s ease-in; }
  .home-thumbnail .description_words {
    transform: translateY(200px);
    position: relative;
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 400;
    color: white;
    transition: transform 0.3s ease-in; }
  .home-thumbnail .thumbnail-bg {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 270px;
    transition: all 0.6s linear; }
  .home-thumbnail .img_thumbnail {
    width: 100%;
    transition: all 0.3s linear; }

.home-thumbnail:hover .description {
  opacity: 1; }

.home-thumbnail:hover .img {
  margin-left: -5%;
  width: 110%; }

.home-thumbnail:hover .description_title, .home-thumbnail:hover .description_words {
  transform: translateY(0); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:focus {
  outline: none; }

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  color: #434343;
  background: #F8F8F8; }

.show {
  display: block; }

.hide {
  display: none; }

.light-text {
  color: #ffffff; }

h1 {
  font-size: 24px;
  font-weight: 700;
  padding: 5px 0; }

h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 4px 0; }

h3 {
  font-size: 20px;
  font-weight: 500; }

h4 {
  font-size: 18px;
  font-weight: 500; }

p {
  line-height: 1.4em; }

.sub-text {
  font-size: 12px;
  font-weight: 400;
  color: #B3B3B3; }

.page-container {
  margin: 0 8%;
  overflow: hidden; }

.fa {
  font-size: 12px; }

header.title {
  height: 50px;
  padding-left: 50px;
  vertical-align: middle;
  background: #37afa2; }
  header.title h3 {
    line-height: 50px;
    color: #ffffff; }

.btn-bar {
  width: 100%;
  height: 50px; }
  .btn-bar .btn-1 {
    width: 100%;
    height: 100%; }
  .btn-bar .btn-2 {
    width: 50%;
    height: 100%; }

.content-container {
  margin: 0 35px;
  overflow: hidden; }

.btn {
  display: inline-block;
  text-align: center;
  box-sizing: border-box; }

.btn-lg {
  height: 60px;
  line-height: 54px;
  font-size: 18px;
  font-weight: 500;
  border: 1.5px solid #37afa2; }

.btn-sm {
  height: 40px;
  line-height: 36px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #37afa2; }

.btn-active {
  background: #37afa2;
  color: #ffffff; }

.btn-default {
  background: #ffffff;
  color: #37afa2; }

.form-row {
  margin: 25px 0; }
  .form-row input {
    padding: 5px 0;
    width: 100%; }
  .form-row input[type=text] {
    border: none;
    background: inherit;
    border-bottom: 1px solid #b3b3b3; }

.form-label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 15px; }

.col-md-4 {
  width: 31%;
  margin: 1%;
  display: block; }

.avatar {
  overflow: hidden; }
  .avatar .profpic {
    float: left; }
  .avatar h2 {
    margin-top: 15px;
    position: absolute;
    margin-left: 100px; }
  .avatar p {
    margin-top: 42px;
    position: absolute;
    margin-left: 100px; }
